.loginForm {
	background-color: #363636;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;		
	margin: 150px auto;
	width: 300px;
    font-family: 'Open Sans', sans-serif;
	font-size: 16px;
    -webkit-box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);
    box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);
	margin:0px;
  
}

.loginForm h3 {
	background-color: #292829;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	color: #fff;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin-top: 0px;
}

.loginForm fieldset {
	border: none;
	padding: 20px;
	position: relative;
}

.loginForm fieldset form {
	overflow: hidden;
	width: 270px;
}

.loginForm fieldset form input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	outline: none;
    -webkit-appearance:none;
    width: 260px;
    position: center;
}

.loginForm fieldset form input[type="text"] {
	border: 1px solid #292829;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	padding: 12px 10px;
	width: 238px;
    -webkit-appearance:none;
}

.loginForm fieldset form input[type="submit"] {
	background-color: #ebebeb;
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #404040;
	cursor: pointer;
	float: none;
	font-weight: bold;
	margin-top: 20px;
	padding: 12px 12px;
    -webkit-appearance: none;
}

.loginForm fieldset form input[type="submit"]:hover {
	background-color: #e0e0e0;
}

